<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LMS</title>
</head>
<body>
<!-- navigation bar -->
<header class="topnav">
<h4 class="logo">books2employee</h4>
<nav>
<ul class="nav-links">
<li><p class="logout"> <a href="./LogoutPage">Logout</a></p></li>
</ul>
</nav>
</header>
<h2>Return Books Borrowed</h2>


<br><br>
<h2 th:text="${message}"></h2>
<h2 th:text="${latefee}" style="color: red"></h2>
<br><br>
<a href="./index">Back to Menu</a>
<br>
<br>
<br>
<br>
<a href="./LogoutPage">Logout</a>

<!-- changed footer -->
<div class = footer>
   <p class="footer-text">Creators: Ash, Bernice, Boram, Natalia and Roxana </p>
   <p class="footer-text">Copyright &copy; <script>document.write(new Date().getFullYear());</script>, Group 2 Wiley Edge Team </p>
</div>
</body>
</html>