@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #2F4F4F;
	color: #F1ECE4;
	text-align: center;
}

a {
	text-decoration: none;
}

button, a, input {
	background-color: #dfdfdf;
	padding: 4px;
	border-radius: 4px;
	color: black;
}

button:hover, a:hover, input[type="submit"]:hover {
	background-color: #bfbfbf;
	cursor: pointer;
}

button:active, a:active, input[type="submit"]:active {
	background-color: #afafaf;
}

.banner {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.title {
	position: absolute;
    top: 40%;
    left: 12px;
    transform: translateY(-50%);
    color: #F1ECE4;
    font-size: 48px;
    text-shadow: 2px 2px #2F4F4F;
}

.container {
	display: flex;
	justify-content: center;
}

.login-form {
	display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-form-element {
	display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;	
}

.menu {
	display: flex;
	justify-content: center;
	margin-left: 8px;
	margin-right: 8px;

}

.menu a {
    padding-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
    height: 180px;
    width: 160px;
}

@snowsize: 450px;
@snowfall: 20s;

h1 {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;

  width: 100%;
  line-height: 1em;
  text-align: center;
  
  font-size: 42px;
  font-weight: 300;
  letter-spacing: -0.025em;
  color: hsl(210, 20%, 35%);
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
  
/* // Animation */
@-webkit-keyframes snowing {
  from { background-position-y: 0px, 0px; }
    to { background-position-y: (@snowsize * 2), @snowsize; }
}

@-moz-keyframes snowing {
  from { background-position-y: 0px, 0px; }
    to { background-position-y: (@snowsize * 2), @snowsize; }
}

@-ms-keyframes snowing {
  from { background-position-y: 0px, 0px; }
    to { background-position-y: (@snowsize * 2), @snowsize; }
}

@-o-keyframes snowing {
  from { background-position-y: 0px, 0px; }
    to { background-position-y: (@snowsize * 2), @snowsize; }
}

@keyframes snowing {
  from { background-position-y: 0px, 0px; }
    to { background-position-y: (@snowsize * 2), @snowsize; }
}
/* 
// Mixins */
.animation(@settings) {
-webkit-animation: @settings;
   -moz-animation: @settings;
    -ms-animation: @settings;
     -o-animation: @settings;
        animation: @settings;
}
  
.background-size(@size) {
-webkit-background-size: @size;
/*    -moz-background-size: @size;
     -o-background-size: @size;
        background-size: @size; */
}
